body.ng-scope {
	width: 95%
}

#playerOne{
	width: 200px;
	float: left;
	text-align: center;
	font-size: 23px;
	margin-left: 50px;
}

#container {
	width: 318px;
	text-align: center;
	margin: 0 auto;
}

.whoStarts {
	font-size: 40px;
	line-height: 0px;
}

#playerTwo{
	width: 200px;
	float: right;
	text-align: center;
	font-size: 23px;
}

.cell {
	width: 100px;
	height: 100px;
	background-color: lightblue;
	border: 3px solid blue;
	color: black;
	float: left;
	font-size: 95px;
}
